<div class="registry-container">
  <div class="title-container">
    <h1 class="title">Registro de Clientes</h1>
  </div>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="form">
    <div class="form-row">
      <p class="label">
        identificación *
      </p>
      <input id="identification" type="number" formControlName="identification" class="input"
        placeholder="Ingresa el numero de tu identificación">
    </div>

    <div class="form-row">
      <p for="firstname" class="label">
        Primer Nombre *
      </p>
      <input id="firstname" type="text" formControlName="firstname" class="input"
        placeholder="Ingresa tu primer nombre">

      <div class="alert-danger" *ngIf="firstname.invalid && firstname.dirty ">
        <div class="container-error-message" *ngIf="firstname.errors.required">
          Tu primer nombre es requerido
        </div>
        <div class="container-error-message" *ngIf="firstname.errors.minlength">
          Tu primer nombre debe ser de minimo 5 caracteres
        </div>
      </div>
    </div>

    <div class="form-row">
      <p for="lastname" class="label">
        Apellido *
      </p>
      <input id="lastname" type="text" formControlName="lastname" class="input"
        placeholder="Ingresa tu primer apellido">

      <div class="alert-danger" *ngIf="lastname.invalid && lastname.dirty ">
        <div class="container-error-message" *ngIf="lastname.errors.required">
          Tu primer apellido es requerido
        </div>
        <div class="container-error-message" *ngIf="lastname.errors.minlength">
          Tu primer apellido debe ser de minimo 5 caracteres
        </div>
      </div>
    </div>

    <div class="form-row">
      <p for="birthdate" class="label">
        Fecha de Nacimiento *
      </p>
      <input id="birthdate" type="date" formControlName="birthdate" class="input">
      <div class="alert-danger" *ngIf="birthdate.invalid && birthdate.dirty ">
        <div class="container-error-message" *ngIf="birthdate.errors.required">
          Tu primer apellido es requerido
        </div>
        <div class="container-error-message" *ngIf="birthdate.errors.isMinor">
          Para registrarte debes ser mayor de 18 años
        </div>
      </div>
    </div>
    <button class="button" type="submit">Registrarme</button>
  </form>
</div>